Variavel Instrumental ou Regressao em dois estagios (2 stage least square square)

- Gujarati pg 661

In [1]:
#Config Basico
import logging
log = logging.getLogger(__name__)

def reset_logging():
    """
    Reset logging - Tira as definicoes de DEBUG, INFO, etc
    """
    for handler in logging.root.handlers[:]:
        logging.root.removeHandler(handler)

        
import importlib, sys, os, requests
from pathlib import Path

[sys.path.append(str(p)) for p in list(Path(os.path.abspath('')).parents) if len(list(Path(p).glob('*.gitignore'))) > 0 ]

# import support_library.common as common
# from support_library.viral import *

def reset_libs():
    _ = [importlib.reload(sys.modules[m]) for m in list(sys.modules) if 'support_library' in m]   
    
reset_libs()

In [4]:
import pandas as pd
import numpy as np
# from linearmodels.iv import IV_2SLS

from linearmodels.iv import IV2SLS

In [5]:
df = pd.read_csv('..\dataset\__by_valid_oil.csv')
df

,date,reference,coconut_exports,coconut_price,coconut_production,cottonseed_exports,cottonseed_production,palm-kernel_exports,palm-kernel_price,palm-kernel_production,...,soybean_price,soybean_production,sunflower_exports,sunflower_price,sunflower_production,vegetable-oil_exports,vegetable-oil_price,vegetable-oil_production,vegetable-oil_oecd_exports,vegetable-oil_oecd_production
0,2022-02-28,NaN,NaN,2147.89,NaN,NaN,NaN,NaN,2442.63,NaN,...,1595.74,NaN,NaN,1472.349,NaN,NaN,201.700,NaN,7352.49,18352.24
1,2022-01-31,NaN,NaN,2016.14,NaN,NaN,NaN,NaN,2195.79,NaN,...,1469.56,NaN,NaN,1379.023,NaN,NaN,185.931,NaN,7345.07,18329.91
2,2021-12-31,World,161.08,1695.71,292.50,8.75,424.17,283.17,1861.43,725.00,...,1411.21,6340.50,1014.00,1361.831,1759.33,7887.34,178.505,19012.50,7337.65,18307.58
3,2021-11-30,World,160.08,1960.68,292.03,8.71,422.24,281.57,2050.23,722.87,...,1442.96,6343.92,1007.56,1415.617,1745.42,7870.82,184.555,18982.97,7334.60,18274.33
4,2021-10-31,World,159.08,1922.86,291.56,8.67,420.31,279.97,1818.33,720.74,...,1483.52,6347.33,1001.11,1420.528,1731.51,7854.30,184.837,18953.42,7331.56,18241.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,2000-05-31,NaN,NaN,481.00,NaN,NaN,NaN,NaN,483.00,NaN,...,337.97,NaN,NaN,NaN,NaN,NaN,44.489,NaN,2626.71,7568.42
262,2000-04-30,NaN,NaN,550.00,NaN,NaN,NaN,NaN,557.00,NaN,...,366.24,NaN,NaN,NaN,NaN,NaN,49.499,NaN,2605.36,7543.75
263,2000-03-31,NaN,NaN,552.00,NaN,NaN,NaN,NaN,556.00,NaN,...,363.49,NaN,NaN,NaN,NaN,NaN,47.819,NaN,2584.01,7519.09
264,2000-02-29,NaN,NaN,591.00,NaN,NaN,NaN,NaN,580.00,NaN,...,357.94,NaN,NaN,NaN,NaN,NaN,46.368,NaN,2562.66,7494.42
265,2000-01-31,NaN,NaN,654.00,NaN,NaN,NaN,NaN,628.00,NaN,...,369.79,NaN,NaN,NaN,NaN,NaN,48.583,NaN,2541.32,7469.76